NODE_ENV=development
PORT=3000
APP_DEBUG=true
LOG_LEVEL=debug
DATABASE_URL=mysql://root:secret@localhost:33061/ecommerce_app

# Database Credentials (Used by Docker)
DB_PASSWORD=secret
DB_NAME=ecommerce_app


# At least 32 characters long
APP_SECRET=7feb348bfce55938e763f53f858ce048
JWT_ACCESS_SECRET=57f15f633ce56edea582df732ca3a16f2117d2f19cac53e406e2984edcf879f4
JWT_REFRESH_SECRET=274524d508ba5e94ce9602b31b57e5627da28a19deeddb6a9a82402f7d8567fcfc9847a8a0d013bd9d0feba102d4c4f37bfab3cadd16b8a2166ef26c84eee2fb

# OAuth2 Configuration (Optional for dev)
ISSUER_BASE_URL=
AUDIENCE=

# Default Pagination
DEFAULT_PAGE_SIZE=10

# Email Configuration
CONSOLE_LOG_EMAILS=true
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
ADMIN_EMAIL=admin@example.com
